body {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  gap: 10px;
}

#content > h2 {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.container {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  width: 500px;
}

.container > p {
  margin: 0;
  padding: 0;
}

.container > h3 {
  margin: 0;
}

.container > ul {
  list-style: none;
  margin: 5px 0 0 0;
}

li:first-of-type {
  margin-bottom: 5px;
}
