:root {
  --secondary-bg-color: #297373;
  --accent-color: #205f5f;
  --primary-bg-color: #133b3b;
  --navbar-font-size: 1em;
  --navbar-font-color: white;
  --font-color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: var(--primary-bg-color);
  position: relative;
  border: 1px solid black;
  box-shadow: 0px -4px 10px black;
  min-height: 30px;
}

.navbar-ul {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  list-style: none;
  margin: 0;
  margin-right: 5%;
  padding: 0;
}

.navbar-button {
  font-size: var(--navbar-font-size);
  background-color: var(--secondary-bg-color);
  color: var(--navbar-font-color);
  min-height: 30px;
  min-width: 80px;
  border: none;
}

.navbar-button:hover {
  background-color: var(--accent-color);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg-color);
  background: no-repeat url("./assets/img/jelly-background.jpg");
  background-size: cover;
  gap: 10px;
  height: 100%;
  overflow: auto;
}

#content > h2 {
  background-color: var(--secondary-bg-color);
  color: var(--font-color);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px black;
}

.container,
.social-media-container {
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 0px 5px black;
  color: var(--font-color);
  border-radius: 4px;
  padding: 10px;
  width: 500px;
}

.container > p {
  margin: 0;
  padding: 0;
}

.container > h3 {
  margin: 0;
}

.container > ul {
  list-style: none;
  margin: 5px 0 0 0;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  background-color: var(--secondary-bg-color);
  color: var(--font-color);
  border-radius: 4px;
  box-shadow: 0px 0px 5px black;
}

.card-name {
  margin: 8px 0 8px 0;
  text-align: center;
}

.card-image {
  object-fit: cover;
  height: 200px;
  width: 300px;
}

.card-description {
  margin: 8px 0 8px 4px;
  padding: 0;
}

.contact-info {
  text-align: center;
}

.social-media-container > h3 {
  margin: 0 0 10px 0;
  text-align: center;
}

.social-media-icons-container {
  display: flex;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

.footer-container {
  color: var(--navbar-font-color);
  background-color: var(--primary-bg-color);
  width: 100%;
}
