@font-face {
  font-family: "Roboto";
  src: url("assets/font/Roboto-Regular.woff2") format("woff2"),
    url("assets/font/Roboto-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/font/Roboto-Medium.woff2") format("woff2"),
    url("assets/font/Roboto-Medium.woff") format("woff");
  font-weight: bold;
}

:root {
  --button-bg-color: #564d4f;
  --accent-color: #4c4143;
  --primary-bg-color: #342d2e;
  --font-size: 1em;
  --font-color: #ebd9cc;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  color: var(--font-color);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: var(--primary-bg-color);
  position: relative;
  border: 1px solid black;
  box-shadow: 0px -4px 10px black;
  min-height: 30px;
}

.navbar-ul {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  list-style: none;
  margin: 0;
  margin-right: 5%;
  padding: 0;
}

.navbar-button {
  font-size: var(--navbar-font-size);
  background-color: var(--button-bg-color);
  color: var(--font-color);
  min-height: 30px;
  min-width: 80px;
  border: none;
}

.navbar-button:hover {
  background-color: var(--accent-color);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg-color);
  background: no-repeat url("./assets/img/jelly-background.jpg");
  background-size: cover;
  gap: 10px;
  height: 100%;
  overflow: auto;
}

#content > h2 {
  background-color: var(--primary-bg-color);
  color: var(--font-color);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px black;
}

.container,
.social-media-container {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 5px black;
  color: var(--font-color);
  border-radius: 4px;
  padding: 10px;
  width: 500px;
}

.container > p {
  margin: 0;
  padding: 0;
}

.container > h3 {
  margin: 0;
}

.container > ul {
  list-style: none;
  margin: 5px 0 0 0;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 340px;
  background-color: var(--primary-bg-color);
  color: var(--font-color);
  border-radius: 4px;
  box-shadow: 0px 0px 5px black;
}

.card-name {
  margin: 8px 0 8px 0;
  text-align: center;
  font-size: 1.05em;
}

.card-image {
  object-fit: cover;
  height: 200px;
  width: 300px;
}

.card-description {
  margin: 8px 0 8px 6px;
  padding: 0;
}

.contact-info {
  text-align: center;
}

.social-media-container > h3 {
  margin: 0 0 10px 0;
  text-align: center;
}

.social-media-icons-container {
  display: flex;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--primary-bg-color);
  width: 100%;
  height: 40px;
}

.footer-container > p {
  font-size: 0.9em;
  margin: 5px;
  padding: 0;
}

p > a {
  color: var(--font-color);
}

p > a:hover {
  color: var(--accent-color);
}
